extends ../layouts/base
block head 
	-
		var title = "Бумажный пакет с логотипом Быстро | Дешево";
		var description = "Тренд на экологически чистую упаковку развивается и нужно идти в ногу со временем. Бумажный пакет с логотипом может применяться в различных сферах.";

block content
	include ../includes/header

	include ../includes/nav

	main.main
		article.article
			.container
				.article__heading
					p.article__heading-subtitle каталог
					h1.article__heading-title бумажный пакет с логотипом
				.row
					.col-12.col-lg-8.order-2.order-lg-1
						p.article-paragraph Хотите увеличить поток клиентов, но не хотите прибегать к кардинальным изменениям? Для того, чтобы вы получали новых клиентов и продвигали свою торговую марку, B2BPAK предлагает вам купить бумажный пакет с логотипом, нанесенным полноцветной печать. Использование модного и современного пакета поднимет доверие среди молодежи. Данный товар сформирует мнение о вашем бренде как о современном, молодежном и продвинутом. Некоторые из вариантов использования – промоакции, выставки, показы. Бумажный пакет с логотипом запоминается гораздо лучше, чем листовка или флаер и имеет большое количество плюсов:
						ul.article-list
							li.article-list__item
								i.fas.fa-check-square.article-list__item-marker
								h4.article-list__item-text Стильный внешний вид
							li.article-list__item
								i.fas.fa-check-square.article-list__item-marker
								h4.article-list__item-text Высокая прочность
							li.article-list__item
								i.fas.fa-check-square.article-list__item-marker
								h4.article-list__item-text Оптимальная цена
							li.article-list__item
								i.fas.fa-check-square.article-list__item-marker
								h4.article-list__item-text Индивидуальная упаковка
					.col-12.col-lg-4.order-1.order-lg-2
						img.article-image(data-src='img/product-package-bumazhniy.png', alt="Бумажный пакет с логотипом, экологичная упаковка по небольшой цене, качественно и быстро.")
				p.article-paragraph С технической точки зрения, производственная база B2BPAK позволяет производство пакетов различных размеров и конфигураций, печать высококачественного полноцветного логотипа. Благодаря нашей ценовой политике, вы можете купить этот продукт дешево, но не в ущерб качеству. Производство бумажного пакета дешевле, чем полиэтиленового, а также намного экологичнее. Вы можете создать отличный имидж для своего бренда, используя нетоксичную упаковку.
				h2.article-title Бумажный пакет в Москве и Московской области				
				p.article-paragraph Москва – дорогой и современный город, и бумажный пакет с красивым и вызывающим логотипом привлечет внимание людей, ценящих стиль и дизайн, коих в Москве огромное множество. Если вы – современная, но только развивающаяся компания, то бумажный пакет с логотипом – отличный выбор для продвижения и привлечения покупателей. Мы продаем продукцию в Москве и Московской области, поэтому если вы не из столицы – не переживайте, наша компания предоставит вам квалифицированный сервис, гарантию качества продукции и оперативное обслуживание, и выполнение заказа.
		.container
			include ../includes/features

		include ../includes/call-to-action

	include ../includes/footer
