extends ../layouts/base
block head 
	-
		var title = "Крафтовый пакет с логотипом Быстро | Дешево";
		var description = "Отличный пакет для использования на промоакциях и других мероприятиях, где необходимо представить компанию наилучшим образом. Крафтовый пакет удовлетворяет этот запрос.";

block content
	include ../includes/header

	include ../includes/nav

	main.main
		article.article
			.container
				.article__heading
					p.article__heading-subtitle каталог
					h1.article__heading-title Пакет из крафтовой бумаги с логотипом
						span.article__heading-title_accent ....
				.row
					.col-12.col-lg-8.order-2.order-lg-1
						p.article-paragraph Компания B2BPAK дает вам возможность купить пакет из крафтовой бумаги (крафтовый пакет) с логотипом, сделанный по всем современным стандартам. Благодаря современной производственной базе, наш продукт изготавливается качественно, быстро и дешево.
						p.article-paragraph В последнее время увеличилась тенденция на использование экологически безвредной упаковки, и крафтовый пакет полностью удовлетворяет этот запрос. Крафтовый пакет с логотипом востребован во многих отраслях бизнеса. Он используется для упаковки продуктов в магазинах, гастрономах, заведениях пищевой промышленности, пекарнях, а также востребован на промоакциях, выставках и других мероприятиях. Многие торговые сети уже сегодня наравне используют как полиэтиленовые пакеты, так и пакеты из крафтовой бумаги, внося вклад в борьбу за чистоту окружающей среды. Оба этих пакета вы можете приобрести у нас.
					.col-12.col-lg-4.order-1.order-lg-2
						img.article-image(data-src='img/product-package-kraftoviy.png', alt="Пакет из крафтовой бумаги для подарков или выставок. Крафтовый пакет с разноцветными ручками")
				p.article-paragraph Если вы хотите сформировать положительный имидж своего бренда/компании/предприятия, то продукт с логотипом именно ваш выбор. Логотип на пакете повышает узнаваемость и привлекает новых клиентов. В некотором смысле логотип лицо вашего бренда, поэтому он должен быть нанесен на продукт качественно. B2BPAK гарантирует высочайшее качество нанесения, благодаря современным технологиям и высококачественным фотополимерным формам. Широкий диапазон размеров, большой выбор материалов и все это быстро и дешево.
				h2.article-title Крафтовый пакет в Москве и Московской области
				p.article-paragraph Москва – современный город, и тенденция на экологически чистую упаковку там распространена очень сильно. Компания, поддерживающая защиту окружающей среды, вызывает доверие и уважение. Если ваша цель московский рынок, то пакет из крафтовой бумаги с логотипом подойдет как нельзя лучше. Мы продаем продукцию не только в Москве, но и в Московской области, а также в регионах, поэтому если вы не из столицы – не переживайте, B2BPAK все равно доступен для вас.
		.container
			include ../includes/features

		include ../includes/call-to-action

	include ../includes/footer
