extends ../layouts/base
block head 
	-
		var title = "Пакет майка с логотипом. Быстро | Дешево";
		var description = "Пакет майка - практичный, удобный в использовании. Логотип, нанесенный на пакет олицетворяет ваш бренд. Купить дешево в Москве и Московской области";

block content
	include ../includes/header

	include ../includes/nav

	main.main
			article.article
				.container
					.article__heading
						p.article__heading-subtitle каталог
						h1.article__heading-title пакет майка с логотипом
								span.article__heading-title_accent ....
					.row
						.col-12.col-lg-8.order-2.order-lg-1
							p.article-paragraph Наша компания занимается производством пакетов майка с логотипом уже огромное количество времени. За более чем 10 лет работы, в B2BPAK сформировался отлаженный механизм производства, позволяющий выполнять заказ в адекватные сроки, максимально выгодная ценовая политика предоставляет возможность купить продукт по приемлемой стоимости и без переплат, а также, мы конечно получили огромный опыт, опираясь на который, точно определить нужды заказчика – не проблема.
							p.article-paragraph Пакет майка с логотипом является отличным способом заявить о себе. Дешевая и эффективная реклама позволит вашему бизнесу получить новых клиентов очень быстро. Пакет майка имеет большое количество плюсов:
						.col-12.col-lg-4.order-1.order-lg-2
							img.article-image(data-src='img/product-package-mayka.png', alt="Пакет майка с логотипом из биоразлагаемого материала в Москве и Московской области")
					ul.article-list
						li.article-list__item
							i.fas.fa-check-square.article-list__item-marker
							h4.article-list__item-text Высокая грузоподъемность 
						li.article-list__item 
							i.fas.fa-check-square.article-list__item-marker
							h4.article-list__item-text Низкая стоимость
						li.article-list__item
							i.fas.fa-check-square.article-list__item-marker
							h4.article-list__item-text Большая вместительность
						li.article-list__item
							i.fas.fa-check-square.article-list__item-marker
							h4.article-list__item-text Удобство в применении
						li.article-list__item
							i.fas.fa-check-square.article-list__item-marker
							h4.article-list__item-text Надежность и практичность
					p.article-paragraph Практичность пакета определяется его эксплуатационными характеристиками, надежностью конструкции, простотой и эффективностью технологии производства. Надежный пакет – лояльный клиент, а яркий и броский логотип запомнится и «всплывет» в памяти в нужный момент. Как показала практика, пакет с логотипом на заказ – отличный рекламный канал, который повысит узнаваемость вашего бренда и увеличит поток клиентов.
					h2.article-title Технология изготовления
					p.article-paragraph Создание пакета майка с логотипом – технологически сложный процесс, но, благодаря современной производственной базе B2BPAK с легкостью справляется с такими заказами. Для создания применяется надежный и прочный первичный полиэтилен, который гарантирует надежность и прочность пакета. Благодаря использованию высококачественных флексоформ логотип наносится качественно, а процент брака очень низкий. Почему вам стоит купить пакет майку с логотипом у нас: широкий диапазон размеров, оперативное изготовление партий любого размера, максимальное качество за минимальную стоимость.
			.container
				include ../includes/features

			include ../includes/call-to-action

	include ../includes/footer
