extends ../layouts/base
block head 
	-
		var title = "Пакет с вырубной ручкой Быстро | Дешево";
		var description = "Пакет и полиэтилена высокого давления выдержит самые тяжелые товары, а логотип положительно скажется на имидже вашего бренда и запомнится надолго.";

block content
	include ../includes/header

	include ../includes/nav

	main.main
			article.article
				.container
					.article__heading
						p.article__heading-subtitle каталог
						h1.article__heading-title пакет с вырубной ручкой с логотипом
								span.article__heading-title_accent ....
					.row
						.col-12.col-lg-8.order-2.order-lg-1
							p.article-paragraph Хотите получить больше клиентов? Получить дополнительный рекламный канал и вдохнуть жизнь в свой бизнес? Тогда пакет с вырубной ручкой с логотипом ваш вариант. Данный вид пакетов является отличным выбором для того, чтобы разместить ваш логотип.
							p.article-paragraph Так чем же он так хорош? У данной разновидности пакетов есть огромное количество плюсов:
							ul.article-list
								li.article-list__item
									i.fas.fa-check-square.article-list__item-marker
									h4.article-list__item-text Презентабельность
								li.article-list__item
									i.fas.fa-check-square.article-list__item-marker
									h4.article-list__item-text Возможность многократного использования
								li.article-list__item
									i.fas.fa-check-square.article-list__item-marker
									h4.article-list__item-text Большая площадь для размещения логотипа
								li.article-list__item
									i.fas.fa-check-square.article-list__item-marker
									h4.article-list__item-text Надежность и практичность
						.col-12.col-lg-4.order-1.order-lg-2
							img.article-image(data-src='img/product-package-virub.png', alt="Пакет с вырубной ручкой для магазина. Пвд пакет с логотипом для выставок и промоушена в Москве и Москвоской области")
					p.article-paragraph Но почему вам стоит купить пакет с вырубной ручкой с логотипом именно у нас? Современная производственная база позволяет нам произвести данный продукт максимально быстро и качественно, а выгодная ценовая политика обуславливает невысокую цену. Пакет с логотипом делается из полиэтилена низкого давления, но не уступает по прочности и износостойкости более дорогим аналогам, т.к. конструкция позволяет многократное использование.
					p.article-paragraph Многолетний опыт B2BPAK показывает, что пакет с вырубной ручкой отличный рекламный канал. Он не мнется, на нем не появляются складки, благодаря этому все увидят вашу рекламу и запомнят ее надолго, при этом вы можете купить его очень дешево.
					h2.article-title Технология изготовления
					p.article-paragraph Производство пакета с вырубной ручкой - непростое дело, но отлаженный производственный механизм, выгодная ценовая политика, большой опыт нашей компании, все это способствует быстрому, качественному, и дешевому созданию продукта с логотипом. Широкий диапазон размеров и толщины полиэтилена, нанесение высококачественного логотипа при помощи перворазрядных флексоформ, оперативное выполнение заказа, возможность купить продукт дешево, доступность в Москве и Московской области. Все это вы можете получить, обратившись к компании B2BPAK!
			.container
				include ../includes/features

			include ../includes/call-to-action

	include ../includes/footer
