section.features
	.row
		.col-12.col-sm-6.col-xl-3.feature
			.feature__icon
				i.fas.fa-cogs.feature__icon-symbol
			h3.feature__title Лучшее оборудование для печати
		.col-12.col-sm-6.col-xl-3.feature
			.feature__icon
				i.fas.fa-certificate.feature__icon-symbol
			h3.feature__title Гарантия качества выпускаемой продукции
		.col-12.col-sm-6.col-xl-3.feature
			.feature__icon
				i.fas.fa-smile-wink.feature__icon-symbol
			h3.feature__title Высокий уровень обслуживания и сервиса 
		.col-12.col-sm-6.col-xl-3.feature
			.feature__icon
				i.fas.fa-wallet.feature__icon-symbol
			h3.feature__title Самая выгодная ценовая политика