footer.footer
	.container
		.footer__menu
			a.footer__menu-item каталог
			a.footer__menu-item о нас
			a.footer__menu-item цены
			a.footer__menu-item доставка
			a.footer__menu-item примеры работ
			a.footer__menu-item контакты
		small.footer__small ©“B2BPAK” Все права защищены