header.header
	.container
		a.header-logo(href='index.html')
			.header-logo__icon(data-bg='img/header-logo-icon.png')
			span.header-logo__text b2b
				span.header-logo__text_accent pak
		.header-contacts
			.header-contacts__item
				.header-contacts__item-icon(data-bg='img/header-contacts-icon-phone.png')
				span.header-contacts__item-text +7 (495) 347-12-37
			.header-contacts__item
				.header-contacts__item-icon(data-bg='img/header-contacts-icon-mail.png')
				span.header-contacts__item-text zakaz@b2bpak.ru
		a.header-button
			span.button.header-button__text(data-action='toggle' data-target='modal') заказать звонок