.modal-wrapper
	.modal
		h4.modal__title Просто оставьте ваши контакты
		form.form.modal-form
			input.modal-form__input(name='name' placeholder='Ваше имя')
			input.modal-form__input(name='phone' placeholder='Ваш телефон')
			button.button.modal-form__button отправить
