nav.nav
	.container
		.nav-toggler
			i.fal.fa-angle-up.nav-toggler__icon
		.nav-menu
			.nav-dropdown
				a.nav-menu__item.nav-dropdown__item(href='')
					span.nav-menu__item-text каталог
				.nav-dropdown__list
					a.nav-dropdown__list-item.nav-menu__item(href='mayka.html')
						span.nav-dropdown__list-text.nav-menu__item-text пакет майка
					a.nav-dropdown__list-item.nav-menu__item(href='virub.html')
						span.nav-dropdown__list-text.nav-menu__item-text пакет с вырубной ручкой
					a.nav-dropdown__list-item.nav-menu__item(href='bumazhniy.html')
						span.nav-dropdown__list-text.nav-menu__item-text бумажный пакет
					a.nav-dropdown__list-item.nav-menu__item(href='kraftoviy.html')
						span.nav-dropdown__list-text.nav-menu__item-text крафтовый пакет					
					a.nav-dropdown__list-item.nav-menu__item(href='fasovochniy.html')
						span.nav-dropdown__list-text.nav-menu__item-text фасовочный пакет
			a.nav-menu__item(href='about.html')
				span.nav-menu__item-text о нас
			a.nav-menu__item(href='pricing.html')
				span.nav-menu__item-text цены
			a.nav-menu__item(href='delievery.html')
				span.nav-menu__item-text доставка
			a.nav-menu__item(href='portfolio.html')
				span.nav-menu__item-text примеры работ
			a.nav-menu__item(href='contacts.html')
				span.nav-menu__item-text контакты